<h2><%="Edit House"%></h2>

<%= form_for @house do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br/>
<br/>
<%=f.label :img_url %>
<%=f.text_field :img_url %>
<br/>
<br/>
<%=f.submit %>
<% end %>
