<h2><%= @house.name %></h2>

<%= link_to "Back", houses_path %>

<% @house.characters.each do |character| %>

  <div class="character">
    <h2><%= character.name %></h2>
    <%= image_tag character.img_url %>
  </div>

  <%= link_to "Edit Character", edit_house_character_path(@house,character)%>
  <%= link_to "Add Character", new_house_character_path(@house,character)%>
<% end %>
