<h2><%= @house.name %></h2>

<%= link_to "Back", houses_path %>

<% @house.characters.each do |character| %>

  <div class = "character">
    <h2><%= link_to character.name, house_character_path(@house,character)%></h2>
    <%= image_tag character.img_url %>

    <div class = "editbuttons">
    <button><%= link_to "Makeover", edit_house_character_path(@house,character)%></button>
    <br/>
    <button><%= link_to "Add Character", new_house_character_path(@house,character)%></button>
    <button><%= link_to "Destroy This Fool", [character.house,character], method: :delete, data: {confirm: 'Have mercy on my soul!!'}%></button>
  </div>

  </div>

<% end %>
